<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
            <i class="bi bi-fuel-pump"></i>
        </div>
        <div class="sidebar-brand-text mx-2">Fuel Control</sup></div>
    </a>

    <!-- Nav Item - Dashboard -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="bi bi-plus-circle"></i>
            <span>Cadastros</span>
        </a>
        <div id="collapseTwo" class="collapse text-primary" aria-labelledby="headingTwo"
            data-parent="#accordionSidebar">
            <div class=" py-2 collapse-inner rounded">
                <h6 class="collapse-header">Realizar Cadastro</h6>

                <a class="collapse-item" href="#" data-toggle="modal" data-target="#motorista_modal">
                    <i class="bi bi-plus-circle icon-space"></i>
                    <span>Motorista</span>
                </a>

             <a class="collapse-item" href="#" data-toggle="modal" data-target="#fornecedor_modal">
                <i class="bi bi-building-fill-add icon-space"></i>
                <span>Fornecedor</span>
                </a>

                <a class="collapse-item" href="#" data-toggle="modal" data-target="#setor_modal">
                    <i class="bi bi-layout-split icon-space"></i>
                    <span>Setor</span>
                </a>

                <a class="collapse-item" href="#" data-toggle="modal" data-target="#combustivel_modal">
                    <i class="bi bi-fuel-pump-fill icon-space"></i>
                    <span>Combustível</span>
                </a>

                

            </div>
        </div>
    </li>




    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="bi bi-graph-up"></i>
            <span>Indicadores</span></a>
    </li>





    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="bi bi-table"></i>
            <span>Relatórios</span></a>
    </li>

    <hr class="sidebar-divider mt-5">

    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="bi bi-coin "></i>
            <span>Saldo</span></a>
    </li>

</ul>